# IF YOU WANT TO LOGIN/SIGNUP WITH GOOGLE USE THIS
GOOGLE_CLIENT_ID_2=
GOOGLE_CLIENT_SECRET_2=

# --------------------------------------

# NODEMAILER || YOUR EMAIL GOOGLE APP_PASSWORD
NODEMAILER_EMAIL=
NODEMAILER_PASS=

NEXT_PUBLIC_GOOGLE_GEMINI_API_KEY=

NEXT_PUBLIC_SOCKET_URL=

# MONGODB URL
ATLASDB_URL=
